
<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>

<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="jumbotron">
      
        <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <img class="profilepic" src="./Assets/Imran.jpeg" />
            </div>
            <div class="col-12 col-sm-6 col-md-8 col-lg-8">
                <div>
                    <b> I'm Syed Abdul Imran.   </b>
                    <p> Tech Support Specialist </p>
                </div>
                <div>
                    <p>
                        Worked as tech support specialist for all amazon
devices including alexa fire tablets kindle fire tv etc.. and 
support .com and .ca website orders for
customers, delt closely with echo and Alexa skills.

                    </p>
                    <p>
                        I love Client/Customer Handling, Call Ethics, documentation and assessments.
                    
                    </p>
                    <p>
                        Running is my Hobby, it keeps me Healty and Maintain My stress Levels and also I love to Read Books (Novels).
                    </p>
                </div>
                <div>
                   <p> Click <a href="/resume" target="_blank"> <u> Here </u> </a> for my Resume to know complete Details About Me.. </p>
                   <p> You can Contact Me <a href="/contact"> <u> here </u> </a> .  I wil respond as soon as possible </p>
                </div>
            </div>
    
        </div>

        </div>
      
    </div>
  </main>
  <% include ./partials/bottom_nav %>
  <!-- js styles -->
  
      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>