
<!DOCTYPE html>
<html>


<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <% include ./partials/header %>
</head>

<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="jumbotron">
      
      <div class="indexText" >
        <div>
          <h2> Hello Everyone... </h2> <br />
          <p>Welcome to My Portfolio!</p>
          <p>"Always be happy and make others happy."</p>
        </div>
        <div>
            <br />
            <a href="/about">  
            
              <button type="button" class="btn btn-primary"> About Me </button>
              
            </a>
            
        </div>
      </div>
    </div>
  </main>
  <% include ./partials/bottom_nav %>
  <!-- js styles -->
  
      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>