
<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>
<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="row serviceDiv">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
    
            <div class="card" style="width: 18rem;">
            <img src="Assets/Images/DM.png" />
           
              <div class="card-body">
                <p class="card-text"> I worked on improving the SEO of the Site for better search Results 
                and also have promote the product in Google , FaceBook and linkedin adsense.  </p>
              </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          
            <div class="card" style="width: 18rem;">
            <img src="Assets/Images/tech_support.jpg" />
            
              <div class="card-body">
                <p class="card-text"> Worked as tech support specialist for all amazon
                  devices including alexa fire tablets kindle fire tv etc.
                  Also support .com and .ca website orders for
                  customers, delt closely with echo and Alexa skills.
                  Creating worknotes, tickets, assigning to higher level
                  while maintaining call ethics and targets
                   Basically my first job to start my career and the best
                  days and experiences of my life. </p>
              </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
         
            <div class="card" style="width: 18rem;">
              
            <img src="Assets/Images/Testing.png" />
            
              <div class="card-body">
                <p class="card-text"> I have a very good knowledge on Machine learning projects and have been an active participator in kaggle.</p>
              </div>
          </div>
        </div>
    </div>
  </main>
  <% include ./partials/bottom_nav %>
  <!-- js styles -->
  
      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>